In [10]:
import pandas as pd
# 以下のデータを使用
# https://www.e-stat.go.jp/stat-search/files?page=1&layout=datalist&toukei=00200521&tstat=000001011777&cycle=0&tclass1=000001094741&stat_infid=000031523105

# 全データ17667件を表示するためのオプション。処理に時間がかかるためコメントアウト。
# pd.set_option('display.max_rows', 18000)

df = pd.read_csv("c03.csv", sep="," ,encoding="SHIFT-JIS")
print(pd.get_option("display.max_rows"))
df.dropna()

2000

,都道府県コード,都道府県名,年齢5歳階級,元号,和暦（年）,西暦（年）,人口（総数）,人口（男）,人口（女）
0,01,北海道,総数,大正,9.0,1920.0,2359183.0,1244322.0,1114861.0
1,01,北海道,0〜4歳,大正,9.0,1920.0,376676.0,190044.0,186632.0
2,01,北海道,5〜9歳,大正,9.0,1920.0,319370.0,161814.0,157556.0
3,01,北海道,10〜14歳,大正,9.0,1920.0,270012.0,138018.0,131994.0
4,01,北海道,15〜19歳,大正,9.0,1920.0,239092.0,125670.0,113422.0
...,...,...,...,...,...,...,...,...,...
17662,47,沖縄県,65〜69歳,平成,27.0,2015.0,79074.0,39799.0,39275.0
17663,47,沖縄県,70〜74歳,平成,27.0,2015.0,55820.0,26756.0,29064.0
17664,47,沖縄県,75〜79歳,平成,27.0,2015.0,56111.0,25504.0,30607.0
17665,47,沖縄県,80〜84歳,平成,27.0,2015.0,43199.0,18017.0,25182.0
17666,47,沖縄県,85歳以上,平成,27.0,2015.0,44133.0,12637.0,31496.0

In [13]:
import pandas as pd
# カラムを指定して表示
pd.set_option('display.max_rows', 2000)
df = pd.read_csv("c03.csv", sep="," ,encoding="SHIFT-JIS", usecols=[1, 2, 3, 5, 6])
print(pd.get_option("display.max_rows"))
df.dropna()

2000

      都道府県名  年齢5歳階級  元号   西暦（年）     人口（総数）
0       北海道      総数  大正  1920.0  2359183.0
1       北海道    0〜4歳  大正  1920.0   376676.0
2       北海道    5〜9歳  大正  1920.0   319370.0
3       北海道  10〜14歳  大正  1920.0   270012.0
4       北海道  15〜19歳  大正  1920.0   239092.0
...     ...     ...  ..     ...        ...
17662   沖縄県  65〜69歳  平成  2015.0    79074.0
17663   沖縄県  70〜74歳  平成  2015.0    55820.0
17664   沖縄県  75〜79歳  平成  2015.0    56111.0
17665   沖縄県  80〜84歳  平成  2015.0    43199.0
17666   沖縄県   85歳以上  平成  2015.0    44133.0

[17667 rows x 5 columns]